body{
  height: 99vh;
/* background-image: url('./images/istockphoto-1254770048-1024x1024.jpg'); */
background-position: center;
background-repeat: no-repeat;
background-size: contain;
padding: 25px;
margin: 0;
text-align: center;
overflow: hidden;
background-color: darkgray;
display: flex;
align-items: center;
justify-content: center;
}

main {
  height: 90%;
  width: 98%
  
}

#game-intro {
  height: 95%;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./images/floppybirdpic.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  position: relative;
  
}

/*   display: none;
  align-content: center;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: contain;
  */

.arrows-img {
  width: 80px;
  position: absolute;
  top: 40%; 
  left: 50%; 
  transform: translate(-50%, -50%);
}

.spacebar-img {
  width: 150px;
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
}

#controls-p {
  border: 1px;
  font-size: 18px;
  font-family: "Verdana";
  color: #fff;
  position: relative;
  margin-top: 20px; 
}

#spacebar-p {
  font-size: 18px;
  font-family: "Verdana";
  color: #fff;
  position: relative;
  margin-top: 200px; 
}

body button {
  align-content: center;
  font-size: 30px;
  background-color: #870007;
  color: #fff;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
  position: absolute;
  top: 75%; 
  left: 50%; 
  transform: translate(-50%, -50%);
}


#game-screen {
  display: none;
  align-content: center;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: contain;
  background-image: url(./images/nightduo.png);
  animation: slideright 100s infinite linear;
  -webkit-animation: slideright 100s infinite linear;
  z-index: +1;
  
} 

#game-container {
  display: none;
  height: 0;
  overflow: hidden;
  /* width: 100vw; */
  /* padding: 20px 0px; */
  justify-content: space-around;
}



.top-obstacle {
  transform: rotate(180deg);
}


@keyframes slideright {
  from {
      background-position: 10000%;
  }
  to {
      background-position: 0%;
  }
}

@-webkit-keyframes slideright {
  from {
      background-position: 10000%;
  }
  to {
      background-position: 0%;
  }
}


#game-end {
    height: 95%;
    align-self: center;
    border: 100px black;
    display: none;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-image: url(./images/floppybirdpic.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    position: relative;  
  }


#end-message {
  font-size: 30px;
  font-family: "Verdana";
  color: #ffffff;
  position: relative;
  margin-top: 200px; 
  margin-bottom: 5%;
  

}

#stats-container {
  width: 60px;
  height: 15%;
  padding: 10px; /* Adjust padding as needed */
  background-color: #f0f0f0; /* Light gray background color */
  border-radius: 5px; /* Rounded corners */
  border: 1px solid #000000; /* Optional border for clarity */
  text-align: center; /* Center-align text */
  color: #333; /* Dark text color */
}

#clock-container {
  text-align: center;
  height:8%;
  width: 60px;
  border: 1rem solid #ffffff;
  border-radius: 10px; 
  background-color: #333333; 
  color: white;
  font-size: 32px;
  font-family: Arial, sans-serif; 
  padding-left: 1.3%;
  padding-bottom: 1%;
}

